$cyan: #2fd1c2;
$text: #e9eef4;
$gold: rgb(255, 191, 71);
$kicker: #8fe9df;
$card-grad-top: #0f1426;
$card-grad-bot: #0d1222;


$card-line: rgba(255, 255, 255, .08);
$card-ring: rgba(47, 209, 194, .28);

// Footer colors
$accent-orange: rgba(243, 152, 16, 0.87);
$button-bg: rgb(79, 13, 121);
$footer-bg: #1c1c1f;
$footer-fg: #ffffff;
$accent: #7a5cff;

//  Contact Form colors
$highlight-color: rgb(109, 9, 172);
$glow-color: #000;
$shadow-color: rgb(0, 219, 248);